.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
R/gls_funcs.R
*.rds
*.Rout
*.sh*
*sno*
*.out*
*.zip*
/bioinformatic*
/simulation/data-raw
/simulation/writescript.R
/simulation/writescriptnew.R
/simulation/writescriptCAR1Symm-odu-top.R
*.DS_Store
*.png
*.pdf
*DataAnalysis.R
*%*

/bioinformatics-rnaseq-repeated
/simulation
data-raw
